@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body, html, .App{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    font-family: Patrick Hand;
    background-color: rgb(15, 15, 15);
}

.App{
  max-height: unset;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.089);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.753);
  }

  //transitions

  .pageSlide-enter{
      position: fixed;
      pointer-events: none;
      transform: translateX(100%);
      transition: all 1s;
    }
    .pageSlide-enter-active{
      transform: translateX(0%);
      transition: all 1s;
    }
    .pageSlide-exit{
      pointer-events: none;
      transform: translateX(0%);
      transition: all 1s;
    }
    .pageSlide-exit-active{
      position: fixed;
      transform: translateX(-100%)
    }