.SectionA{
    max-height: 80vh;
    width: 100%;        
    min-height: 100vh;
    box-sizing: border-box;
    padding: 5rem;
    padding-top: 2rem;
    background-color: rgba(0, 0, 0, 0.527);
    .InfoContainer{
        display: grid; 
        grid-template-columns: 1.2fr 0.8fr;
        justify-content: center;
        overflow: hidden;
        height: 90%;
        background-size: cover;
        background: center center;
        border-radius: 27px;
        @media screen and (max-width: 900px) {
            display: flex;
        }
        .text{         
            display: flex;  
            flex-direction: column;
            justify-content: center;  
            align-items: center;   
            box-sizing: border-box;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.616);
            @media screen and (max-width: 900px) {
                width: 100%;
            }
            p{
                font-size: larger;
            }
        }
        .img{
            display: flex;
            min-width: 100%;
            background-position: auto center;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
    }
}
@keyframes appear {
from {
    right: 100%;
    opacity: 0;
}
to {
    right: 0;
    opacity: 1;
}
}

