.SectionA{
    max-height: 80vh;
    width: 100vw;        
    min-height: 100vh;
    box-sizing: border-box;
    padding: 8%;
    padding-top: 3%;
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    .TransitionGroup {
        display: flex;
    }
    .InfoContainer{
        display: grid; 
        grid-template-columns: 1.2fr 0.8fr;
        justify-content: center;
        overflow: hidden;
        height: 85%;
        background-size: cover;
        background: center center;
        border-radius: 27px;
        min-width: 100%;
        @media screen and (max-width: 900px) {
            display: flex;
        }
        .text{         
            display: flex;  
            flex-direction: column;
            justify-content: center;  
            align-items: center;   
            box-sizing: border-box;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.616);
            @media screen and (max-width: 900px) {
                width: 100%;
            }
            p{
                font-size: larger;
            }
        }
        .img{
            display: flex;
            min-width: 100%;
            background-position: auto center;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
    }    
}


//Transitions 

  
.slide-enter{
    opacity: 0;
    transform: translateX(-100%);
}
.slide-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1.5s,
}
  
.slide-exit{
    opacity: 1;
    transform: translateX(-100%);
}
.slide-exit-active{
    opacity: 0;
    transform: translateX(0%);
    transition: all 1.5s;
}

