.particlesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  pointer-events: none;
  -webkit-animation-name: translate;
          animation-name: translate;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.particlesContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.particlesContainer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-animation-name: translate2;
          animation-name: translate2;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.particlesContainer4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  pointer-events: none;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.oneParticle {
  position: fixed;
  padding-right: 100px;
  padding-top: 100px;
  top: 27;
  left: 19;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.particle {
  display: inline-block;
  padding: 6px;
  background-color: gold;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 3px  gold;
          box-shadow: 0 0 20px 3px  gold;
  -webkit-animation-name: translate;
          animation-name: translate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 0%;
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    width: 100%;
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 0%;
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes translate {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@keyframes translate {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@-webkit-keyframes translate2 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes translate2 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
/*# sourceMappingURL=Styles.css.map */